<div class="form-tabless-fields">
    <div class="form-group dropdown-field span-left">

        <label for="Form-form-field-<?php echo $this->form_group ?>-organization_id">Organization</label>

        <!-- Dropdown -->
        <select
                id="Form-form-field-<?php echo $this->form_group ?>-organization_id"
                name="<?php echo $this->form_group ?>[organization_id]"
                class="form-control custom-select"
                data-request="<?= $this->getEventHandler('onOrganizationChange') ?>"
                >

            <?php foreach ($organizations as $org_id => $org_name){ ?>
                <option <?php if($org_id === $selected_organization_id){ echo "selected"; } ?> value="<?php echo $org_id ?>" >
                    <?php echo $org_name ?>
                </option>
            <?php } ?>

        </select>

    </div>


    <div class="form-group dropdown-field span-right">

        <label for="Form-form-field-<?php echo $this->form_group ?>-classroom_id">Classroom</label>

        <!-- Dropdown -->
        <select
                id="Form-form-field-<?php echo $this->form_group ?>-classroom_id"
                name="<?php echo $this->form_group ?>[classroom_id]"
                class="form-control custom-select"
                >

            <?php foreach ($classrooms as $classroom_id => $classroom_name){ ?>
                <option <?php if($classroom_id === $selected_classroom_id){ echo "selected"; } ?> value="<?php echo $classroom_id ?>" >
                    <?php echo $classroom_name ?>
                </option>
            <?php } ?>

        </select>

    </div>
</div>