<div class="panel panel-default">


    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#org_step3" data-parent="#accordion-demo" data-toggle="collapse">
                Information (III)
            </a>
        </h4>
    </div>


    <div id="org_step3" class="panel-collapse collapse in">
        <div class="panel-body">

                <div class="signin-form">

                    <div id="partialCountryStateProvince">
                        {% partial __SELF__ ~ '::country_state' %}
                    </div>

                </div>

        </div> <!--/.panel-body -->
    </div> <!-- /#adjusthtml -->
</div> <!-- /.panel.panel-default -->