<div class="form-group">
    <select name="data-aerosols-photometer" value="0" class="select-block" style="display: none;">
        <option value="0">Choose photometer</option>
        <option value="1">Calitoo</option>
        <option value="2">CAL-100</option>
        <option value="3">Shade</option>
    </select>
    <div class="btn-group select select-block">
        <button class="btn dropdown-toggle clearfix btn-primary" data-toggle="dropdown">
            <span class="filter-option pull-left">Choose photometer</span>&nbsp;<span class="caret"></span></button><span class="dropdown-arrow dropdown-arrow-inverse"></span>
        <ul class="dropdown-menu dropdown-inverse" role="menu" style="max-height: 79px; overflow-y: auto; min-height: 123px;">
            <li rel="0"><a tabindex="-1" href="#" class=""><span class="pull-left">Calitoo</span></a></li>
            <li rel="1"><a tabindex="-1" href="#" class=""><span class="pull-left">CAL-100</span></a></li>
            <li rel="2"><a tabindex="-1" href="#" class=""><span class="pull-left">Shade</span></a></li>
        </ul>
    </div>
</div>
<div class="form-group">
    <input
            type="text"
            class="form-control signin-field"
            value=""
            placeholder="Enter the AOT Red channel value"
            id="data-aerosols-aot_red-value" />
    <label class="signin-field-icon fui-new" for="data-aerosols-aot_red-value"></label>
</div>
<div class="form-group">
    <input
            type="text"
            class="form-control signin-field"
            value=""
            placeholder="Enter the AOT Green channel value"
            id="data-aerosols-aot_green-value" />
    <label class="signin-field-icon fui-new" for="data-aerosols-aot_green-value"></label>
</div>
<div class="form-group">
    <input
            type="text"
            class="form-control signin-field"
            value=""
            placeholder="Enter the AOT Blue channel value"
            id="data-aerosols-aot_blue-value" />
    <label class="signin-field-icon fui-new" for="data-aerosols-aot_blue-value"></label>
</div>