<div class="form-group">
    <select multiple name="data-wind_direction-value" value="0" class="select-block" style="">
        <option value="0">Choose clouds type</option>
        <option value="1">Cirrocumulus</option>
        <option value="2">Cirrostratus</option>
        <option value="3">Cirrus</option>
        <option value="4">Altocumulus</option>
        <option value="5">Altostratus</option>
        <option value="6">Cumulus</option>
        <option value="7">Stratus</option>
        <option value="8">Stratocumulus</option>
        <option value="9">Nimbostratus</option>
        <option value="10">Cumulonimbus</option>
    </select>
    <!--
    <div class="btn-group select select-block">
        <button class="btn dropdown-toggle clearfix btn-primary" data-toggle="dropdown">
            <span class="filter-option pull-left">Choose clouds type</span>&nbsp;<span class="caret"></span></button><span class="dropdown-arrow dropdown-arrow-inverse"></span>
        <ul class="dropdown-menu dropdown-inverse" role="menu" style="max-height: 79px; overflow-y: auto; min-height: 123px;">
            <li rel="0"><a tabindex="-1" href="#" class=""><span class="pull-left">Cirrocumulus</span></a></li>
            <li rel="1"><a tabindex="-1" href="#" class=""><span class="pull-left">Cirrostratus</span></a></li>
            <li rel="2"><a tabindex="-1" href="#" class=""><span class="pull-left">Cirrus</span></a></li>
            <li rel="3"><a tabindex="-1" href="#" class=""><span class="pull-left">Altocumulus</span></a></li>
            <li rel="4"><a tabindex="-1" href="#" class=""><span class="pull-left">Altostratus</span></a></li>
            <li rel="5"><a tabindex="-1" href="#" class=""><span class="pull-left">Cumulus</span></a></li>
            <li rel="6"><a tabindex="-1" href="#" class=""><span class="pull-left">Stratus</span></a></li>
            <li rel="7"><a tabindex="-1" href="#" class=""><span class="pull-left">Stratocumulus</span></a></li>
            <li rel="8"><a tabindex="-1" href="#" class=""><span class="pull-left">Nimbostratus</span></a></li>
            <li rel="9"><a tabindex="-1" href="#" class=""><span class="pull-left">Cumulonimbus</span></a></li>
        </ul>
    </div>
    -->
</div>