<div class="panel panel-default">


    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#org_step5" data-parent="#accordion-demo" data-toggle="collapse">
                Final step
            </a>
        </h4>
    </div>


    <div id="org_step5" class="panel-collapse collapse in">
        <div class="panel-body">

                <div class="signin-form">
                    <h4 style="text-align: center">
                        Make sure you completed all the fields correctly!
                    </h4>
                    <hr>
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        Register School
                    </button>
                    <br>
                </div>

        </div> <!--/.panel-body -->
    </div> <!-- /#adjusthtml -->
</div> <!-- /.panel.panel-default -->