<div class="form-group">
    <select name="data-sky-value" value="0" class="select-block" style="display: none;">
        <option value="0">Choose Sky state</option>
        <option value="1">Sunny</option>
        <option value="2">Cloudy</option>
        <option value="3">Rainy</option>
    </select>
    <div class="btn-group select select-block">
        <button class="btn dropdown-toggle clearfix btn-primary" data-toggle="dropdown">
            <span class="filter-option pull-left">Choose sky state</span>&nbsp;<span class="caret"></span></button><span class="dropdown-arrow dropdown-arrow-inverse"></span>
        <ul class="dropdown-menu dropdown-inverse" role="menu" style="max-height: 79px; overflow-y: auto; min-height: 123px;">
            <li rel="0"><a tabindex="-1" href="#" class=""><span class="pull-left">Sunny</span></a></li>
            <li rel="1"><a tabindex="-1" href="#" class=""><span class="pull-left">Cloudy</span></a></li>
            <li rel="2"><a tabindex="-1" href="#" class=""><span class="pull-left">Rainy</span></a></li>
        </ul>
    </div>
</div>